page-login {
    .background{
        background-color: #292838;
    }
    .margin-top-30{
        margin-top: 30%;
    }
    .center{
        text-align: center;
    }
    .logo{
        width: 40%;
    }
    .margin-top-20{
        margin-top: 20%;
    }
    .background-input{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        background-color: #FFF;
    }
    .input{
        margin-top: 5%;
        width: 100%;
        font-size: 20px;
    }
    .botao{
        padding: 15px;
        font-size:20px;
        background: #F9495D;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        color: #FFF;
    }
    .bold{
        font-weight: 800;																
    }
    .mg-top-20{
        margin-top: 5%;
    }
    .white{
        color: #FFF;
    }
    .font-18{
        font-size: 18px;
    }
    .senha{
        color: #FFF;
        font-weight: 400;
    }
}
