<ion-content class="background" >
  <div class="align-input">
    <div *ngIf="infoMoto">
        <div class="center">
          <img src="./assets/imgs/logo.png" class="logo">
        </div>
        <div class="center bold texto white mg-top-20">
          Moto
        </div>
        <div>
          <div class="background-input">
            <ion-input type="text" [(ngModel)]="cor" placeholder="Cor da Moto" class="input"></ion-input>
          </div>
          <div class="background-input">
            <ion-input type="text" [(ngModel)]="placa" placeholder="Numero da Placa" class="input"></ion-input>
          </div>
        </div>
        <div class="center botao bold mg-top-20" (click)="detalhesMoto()">
          Proximo
        </div>
        <div class="center bold white mg-top-20 font-18" (click)="Login()">
          Voltar para login
        </div>
    </div>

  
<div *ngIf="infoCnh">
  <div class="center image">
    <img src="./assets/imgs/camera.svg" class="image transparent">
  </div>
  <div class="center bold texto white mg-top-30">
    Tire uma foto da sua CNH
  </div>
  <div class="center bold-2 white texto-2 mg-top-10">
      Para nós ajudar e agilizamos o processo de verificação,
      retire a do plastico abra e tire a foto em um local bem iluminado
  </div>
  <div class="center botao bold mg-top-20" (click)="buscarImagem()" *ngIf="buscarImg">
    Buscar foto
  </div>
  <div class="center botao bold mg-top-20" (click)="abrirInfoUser()" *ngIf="continuar">
      Continuar
    </div>
  <div class="center bold white mg-top-20 font-18" (click)="Login()">
    Voltar Login
  </div>
</div>

<div *ngIf="infoUser">
    <div class="center">
      <img src="./assets/imgs/logo.png" class="logo">
    </div>
    <div class="center bold texto white mg-top-20">
      Pessoais
    </div>
    <div>
      <div class="background-input">
        <ion-input type="text" [(ngModel)]="nome" placeholder="Nome"></ion-input>
      </div>
      <div class="background-input">
        <ion-input type="text" [(ngModel)]="user.email" placeholder="E-mail"></ion-input>
      </div>
      <div class="background-input">
        <ion-input type="password" [(ngModel)]="user.password" placeholder="Senha"></ion-input>
      </div>
      <div class="background-input">
        <ion-input type="password" [(ngModel)]="confirm_pass" placeholder="Confirmação de senha"></ion-input>
      </div>
    </div>
  <div (click)="register(user)" class="center botao bold mg-top-20">
    Confirmar
  </div>
  <div (click)="Login()" class="center bold white mg-top-20 font-18">
    Voltar para login
  </div>
</div>
<div *ngIf="final">
  <div class="center">
    <img src="./assets/imgs/feito.svg" class="image">
  </div>
  <div class="center bold texto white mg-top-30">
    Tudo pronto
  </div>
  <div class="center bold-2 white texto-2 mg-top-10">
      Agora que você fez a sua parte, os nossos administradores irão verificar sua situação e te mandaram um email autorizando o seu acesso. Aguarde
  </div>
  <div class="center botao bold mg-top-20" (click)="Login()">
    Ok
  </div>
</div>
</div>
</ion-content>
