page-perfil {
  * {
    margin: 0;
    padding: 0;
  }

  .containerHeader {
    background-color: #AFB3FA;
    height: 35vh;
    padding: 5%;
    display: flex;
    align-items: center;
  }

  .boxInfo {
    background-color: #FFF;
    height: 20%;
    width: 90%;
    left: 5%;
    text-align: center;
    position: absolute;
    top: 30%;
    border-radius: 10px;
    box-shadow: 3px 3px 15px #c1c1c1;
    padding: 10px;
  }

  .boxCorrida {
    background-color: #FFF;
    height: 20%;
    width: 90%;
    left: 5%;
    text-align: center;
    position: absolute;
    top: 55%;
    border-radius: 10px;
    box-shadow: 3px 3px 15px #c1c1c1;
    padding: 10px;
  }

  #textos {
    color: #FFF;
    margin-left: 20px;
    font-size: 25px;
    font-weight: 500;
  }

  #imagem {
    width: 100px;
    .img {
      border-radius: 50%;
    }
  }

  .botao-voltar{
    color: #FFF;
    left: 5%;
    top: 2%;
    position: absolute;
    font-size: 30px;
  }

  .botao-editar {
    color: #FFF;
    top: 2%;
    right: 5%;
    position: absolute;
    font-size: 30px;
  }
  .textInfo{
    div{
      text-align: left;
      margin-top: 10px;
      font-size: 18px;
    }
  }

  .textCorrida{
    div{
      margin-top: 15px;
      text-align: center;
      font-size: 40px;
    }
  }
  .displayFlex{
    display: flex;
    ion-icon{
      margin-left: 10px;
    }
  }
  .boldFont{
    font-weight: 600;
  }
}
