page-mapa {  
    #botao{
        height: 10%;
        font-size:25px;
        background: #292838;
        width: 100%;
        border-radius: 5px;
        color: #FFF;
        text-align: center;
        padding: 5%;

        
    }
    #map{
        width: 100%;
        height: 90%;
    }
}