	@font-face {
	font-family: gidole_regular;
	src: url(../assets/fonts/Gidole-regular.otf) format("otf");
	font-weight: 200
	}
@font-face {
	font-family: kollekfit;
	src: url(../assets/fonts/kollektif-bold.ttf) format("ttf");
	font-weight: 200
}
//#FA991C